body{
    background-color: #efefef;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.hero-container{
    max-width: 1024px;
    margin: 0 auto;
}

.container{
    max-width: 768px;
    margin: 0 auto;
}